nav{
  border-bottom: 1px solid rgba(128, 128, 128, 0.47);
  /* height: 65px; */
  font-size: 32px;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 40px;
  height: 50px;
  
  position: fixed; /*From here on nav fixed*/
  top: 0;
  right: 0;
  left: 0;
  background-color: black;
  z-index: 100;
  transition: all .5s linear;
}

nav .left{
  font-size: 32px;
  font-weight: 700;
}

nav .right a{
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  color: white;
  margin-left: 20px;
  padding: 10px 12px;
}

nav .right a:hover{
  background-color: rgba(255, 255, 255, 0.08);
  border-radius: 3px;
}

nav span{
  color: rgb(143, 144, 148);
}

nav div button{
  background-color: black;
  color: white;
  border: none;
  font-size: 18px;
}
nav .right-mobile{
  display: none;
}

/* Footer */

footer{
  display: flex;
  flex-direction: column;
  margin: 40px 0px;
  justify-content: center;
  align-items: center;
  margin-top: 500px;
}

@media (max-width: 425px) {
  nav .right-mobile{
    display: block;
  }
  nav .right-mobile i{
    
    width: 10px; 
    font-weight: 600;
    
  }

  nav .right{
    display: none;
  }
}