@font-face {
  font-family: 'Inter';
  src: url(fonts/Inter-VariableFont_slnt\,wght.ttf);
}

body{
  background-color: black;
  color: white;
  font-family: Inter;
  padding: 0px;
  margin: 0px;
  /* padding-bottom: 500px; */
}



/* Main */
main{
  margin-top: 98px;
  padding: 0px 110px;
}

.hey{
  color: rgb(60, 207, 145);
  font-size: 22px;
  font-weight: 700;
  margin: 0px;
}

.bigName{
  font-size: 90px;
  margin: 0px;
}


.short-description{
  font-size: 27px;
  font-weight: 600;
}
.short-description span{
  color: rgb(143, 144, 148);
  line-height: -1.6px;
}

/* Social buttons */
.socailBtns{
  display: flex;
  justify-content: center;
  column-gap: 10px;
  margin: 30px;
}

.socailBtns button{
  color: white;
  background-color: #1A202C;
  border: none;
  padding: 8px 12px;
  border-radius: 2px;

}

.socailBtns button:hover{
  background-color: #13171e;
}



/* responsive design */


/* Mobile L */
@media(max-width: 426px){
  nav{
    padding: 12px 13px;
  }
  .bigName{
    font-size: 60px;
  }
  main{
    padding: 0px 21px;
  }

}
/* Mobile M */
@media(max-width: 376px){
  /* nav{
    padding: 12px 13px;
  } */
  .bigName{
    font-size: 55px;
  }
  .short-description{
    font-size: 19px;
  }
  /* main{
    padding: 0px 21px;
  } */

  .current_learning{
    font-size: 14px;
  }
}